*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{

background:#020b18;

color:white;

}

.app{

display:flex;

min-height:100vh;

}

/* SIDEBAR */

.sidebar{

width:220px;

padding:20px;

background:#031224;

border-right:

1px solid #00ff55;

}

.sidebar h1{

font-size:28px;

}

.sidebar span{

color:#00ff55;

}

.sidebar p{

margin-top:8px;

color:#888;

font-size:14px;

}

.menu{

width:100%;

padding:15px;

margin-top:16px;

background:#081626;

border:

1px solid #17334d;

color:white;

border-radius:18px;

cursor:pointer;

}

.menu.active{

border-color:#00ff55;

box-shadow:

0 0 25px #00ff55;

}

/* CONTENT */

.content{

flex:1;

padding:20px;

}

/* PAGE */

.page{

display:none;

}

.page.active{

display:block;

}

/* CARD */

.card{

background:#031224;

padding:20px;

border:

2px solid #00ff55;

border-radius:25px;

box-shadow:

0 0 35px #00ff55;

}

.card h2{

margin-bottom:20px;

color:#ffd900;

}

input,
select,
textarea{

width:100%;

padding:18px;

margin-bottom:16px;

background:#05182d;

border:none;

color:white;

border-radius:16px;

}

textarea{

height:140px;

resize:none;

}

#save{

width:100%;

padding:20px;

border:none;

border-radius:20px;

font-size:30px;

font-weight:bold;

background:

linear-gradient(
90deg,
#00ff44,
#ffdd00,
#ff0000
);

}

#reportList{

display:grid;

gap:20px;

}

.report{

background:#071829;

padding:20px;

border-radius:20px;

border:

1px solid #18324b;

}

.report img{

width:120px;

border-radius:12px;

margin-bottom:10px;

}

.actions{

display:flex;

gap:10px;

margin-top:10px;

}

.play{

background:#16d742;

}

.view{

background:#2d6dff;

}

.delete{

background:#ff2222;

}

.actions button{

padding:10px;

border:none;

color:white;

border-radius:10px;

}

/* MOBILE */

@media(max-width:700px){

.app{

flex-direction:column;

}

.sidebar{

width:100%;

}

}
