body{

margin:0;

background:#010818;

color:white;

font-family:sans-serif;

}

.app{

display:flex;

}

.sidebar{

width:180px;

height:100vh;

padding:20px;

background:#020b19;

}

.sidebar span{

color:#00ff55;

}

.menu{

width:100%;

margin:10px 0;

padding:15px;

background:#051628;

color:white;

border:1px solid #0f3;

border-radius:16px;

}

.active{

box-shadow:0 0 25px #00ff44;

}

.content{

flex:1;

padding:20px;

}

.box{

border:2px solid #00ff33;

padding:20px;

border-radius:25px;

margin-bottom:30px;

box-shadow:0 0 25px #00ff33;

}

input,
textarea,
select{

width:100%;

margin:10px 0;

padding:16px;

background:#041425;

color:white;

border:none;

border-radius:15px;

box-sizing:border-box;

}

textarea{

height:120px;

}

#save{

width:100%;

padding:20px;

border:none;

font-size:30px;

font-weight:bold;

border-radius:20px;

background:

linear-gradient(
90deg,
#00ff33,
yellow,
red
);

}

.card{

display:flex;

justify-content:space-between;

padding:20px;

margin-top:20px;

border-radius:20px;

background:#02111f;

}

.actions{

display:flex;

flex-direction:column;

gap:10px;

}

.play{

background:#11c63f;

}

.view{

background:#135dff;

}

.del{

background:red;

}

.actions button{

color:white;

border:none;

padding:10px;

border-radius:10px;

}
